#side-menu{
    position:relative;
    float:left;
    width:180px;
    height: calc(45vh - 40px);
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);

}
.side-menu-option{
  display: flex;
  align-items: center;
  height: 54px;
  border-radius: 10px;
}
.side-menu-option:hover{
  background:#5dbb63ab;
  cursor: pointer;
}
.side-menu-icon{
    margin: 10px;
    background: #777;
    width: 32px;
    height: 32px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.side-menu-icon i{
  font-size: 14pt;
  color: var(--text);
}
#side-menu-label{
    font-size: 12pt;
  color: var(--text);
}
