:root{

    --blue: #397cc0;
    --green : #3d7337;
    --avocado : #9abe26;
    --lime : #a5c572;
    --pink: #f8839e;
    --pastel: #f9d3e2;
    --yellow: #fce389;
    --backgrey: #efeee9;
    --backlight: #fcf9e8;
}