<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/main.js" type="module"></script>
    <link rel ="stylesheet" href="/components/dashboard/style.css">
    <link rel ="stylesheet" href="css/themes.css">
    <link href="css/sidemenu.css" rel="stylesheet">
    <link href="css/fontawesome/fontawesome.css" rel="stylesheet">
    <link href="css/fontawesome/solid.css" rel="stylesheet">   
    
    <!--highcharts-->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/modules/solid-gauge.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>
<body> 
    </head>
	<body>
    <div id="body">
        <div id="side-menu"></div>
        <div id="content">
            <div class="ph"  id="container-speed"></div>
            <div class="temp" id="temp"></div>
            <div class="water" id="water"></div> 
           <div class="cond" id="cond"></div>
        </div>
    </div>
        <script src="components/highcharts/ph.js"></script>
        <script src="components/highcharts/temp.js"></script>
        <script src="components/highcharts/water.js"></script>
        <script src="components/highcharts/cond.js"></script>
</body>
</html>